@import "tailwindcss";

#root, .App {
  width: 100% !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none !important;
}

#center, #next-steps, #docs, #spacer {
  display: block;
  border: none !important;
  padding: 0;
  margin: 0;
  width: 100%;
}

h1 {
  all: unset;
  display: block;
}