@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

:root {
  --text: #4b5563;
  --text-h: #364153;
  --bg: #f9fafb;
  --border: #e5e7eb;
  --code-bg: #f3f4f6;
  
  --accent: #2563eb; 
  --accent-bg: rgba(37, 99, 235, 0.1);
  --accent-border: rgba(37, 99, 235, 0.5);
  
  --social-bg: #ffffff;
  --shadow: rgba(0, 0, 0, 0.05) 0 10px 15px -3px, rgba(0, 0, 0, 0.02) 0 4px 6px -2px;

  --sans: 'Inter', system-ui, sans-serif;
  --heading: 'Inter', system-ui, sans-serif;
  --mono: ui-monospace, monospace;

  font: 16px/1.5 var(--sans);
  letter-spacing: -0.01em;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h2: #1E2939;
    --bg: #F5F3F0;
    --border: #1e293b;
    --code-bg: #1e293b;
    --accent: #3b82f6;
    --accent-bg: rgba(59, 130, 246, 0.15);
    --accent-border: rgba(59, 130, 246, 0.5);
    --social-bg: #1e293b;
  }
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: var(--heading);
  font-weight: 700;
  letter-spacing: -0.025em;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  color: var--(text);
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 0;
  color: var--(text);
}

h3 {
  font-weight: bold;
  font-size: medium;
  color: #364153
}
