@import "tailwindcss";

:root {
  --bg: #f9fafb; 
  --text-h: #08060d;
  --blue-brand: #2563eb;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  font-family: system-ui, -apple-system, sans-serif;
}


#root {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0;
  border: none !important;
  text-align: left; 
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  font-size: 35px;
  font-weight: 600;
  color: inherit;
}